@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routerData">
            <AuthorizeRouteView RouteData="@routerData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>Plaese wait a momennt ....</Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routerData" Selector="h1" />
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, There's nothing at this page'</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>